// book columns
$c1: col1-res / col2-res;
$c2: col3-res / col4-res;

// row columns
$r1: row1-res / row2-res;
$r2: row3-res / row4-res;
$r3: row5-res / row6-res;
$r4: row7-res / row8-res;
$r5: row9-res / row10-res;