#main {
    display: grid;
    grid-template-columns: [col1] 40px [col2] auto [col3] 40px [col4];
    grid-template-rows: [row-page-top] 
                            20px 
                        [row-search-start]
                            60px 
                        [row-search-end row-recent-start] 
                            40px 
                        [row-recent-end row-results-start] 
                            auto 
                        [row-results-end] 
                            20px 
                        [row-page-end];
    
    font-family: 'Verdana';




    @media all and (max-width: 768px) {
        /* For mobile phones: */
        grid-template-columns: [col1] 10px [col2] auto [col3] 10px [col4];
    
    }
}



