#results {
    grid-column: col2 / col3;
    grid-row: row-results-start/ row-results-end;
    justify-self: center;
    display: grid;
    // grid-template-columns: [col1-res] 300px [col2-res] 100px [col3-res] 300px [col4-res];
    // grid-template-rows: [row1-res] 400px [row2-res] 50px 
    //                     [row3-res] 400px [row4-res] 50px
    //                     [row5-res] 400px [row6-res] 50px
    //                     [row7-res] 400px [row8-res] 50px
    //                     [row9-res] 400px [row10-res] 50px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    grid-template-rows: auto;

    margin-top: 20px;

    // @media all and (max-width: 768px) {
    //     /* For mobile phones: */
    //     grid-template-columns: [col1] 10px [col2] auto [col3] 10px [col4];
    //     grid-template-rows: 200px;
    //     grid-auto-flow: column;
    
    // }
}