#search {
    grid-column: col2 / col3;
    grid-row: row-search-start/ row-search-end;
    justify-self: center;
    align-self: center;

    @media all and (max-width: 768px) {
        justify-self: stretch;
    }
}

#searchBar {
    @media all and (max-width: 768px) {
        display: block;
        font-size: 24px;
        width: 100%;
        border: 1px solid #ddd;
        border-width: 0 0 1px 0
    }
}

#submitBtn {

    @media all and (max-width: 768px) {

        width: 100%;
        margin-top: 10px;
        padding: 5px;

    }
}